@inherits LayoutComponentBase


<center>
    <div class="centered-content">
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
        <div class="login-content col-12 row">
                @Body
        </div>
        <div class="col-12 row">
            <p>&nbsp;</p>
        </div>
    </div>
</center> 